<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="CCExtractor" Language="1033" Version="1.0.0.0" Manufacturer="CCExtractor development" UpgradeCode="e70dbe37-bb04-4c39-bedc-966a6b073bcf" InstallerVersion="200">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="CCX" Title="CCExtractor Setup" Level="1">
      <ComponentGroupRef Id="CCX_Components" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="CCExtractor" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="CCX_Components" Directory="INSTALLFOLDER">
       <Component Guid="{2D6CDFAD-A645-4929-9518-B43788B9E5F3}">
         <File Source="./Release-Full/ccextractorwinfull.exe" KeyPath="yes" />
       </Component>
       <Component Guid="{8B69210B-5091-4C63-8902-E0ADDBE2C080}">
         <File Source="./Release/ccextractorgui.exe" KeyPath="yes" />
       </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
